{% extends 'blog/base.html' %}
{% block title %}
    首页
{% endblock %}
{% block main %}
    {% for post in posts %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a
                            href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'blog:detail' post.pk %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}


    {#    简单分页效果#}
    {#    {% if is_paginated %}#}
    {#        <div class="pagination-simple">#}
    {#            如果当前页还有上页，显示一个上一页的按钮#}
    {#            {% if page_obj.has_previous %}#}
    {#                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>#}
    {#            {% endif %}#}
    {#            显示当前页信息#}
    {#            <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>#}
    {#            {% if page_obj.has_next %}#}
    {#                <a href="?page={{ page_obj.next_page_number }}">下一页</a>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    {% endif %}#}

    {% if is_paginated %}
        <div class="pagination" style="text-align: center;width:100%">
            <ul class="pagination">
                <li>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    {% else %}
                        <span aria-hidden="true">上一页</span>
                    {% endif %}
                </li>

                {% for page_num in page_range %}
                    {% if page_num == page_obj.number %}
                        <li class="active"><span>{{ page_num }}</span></li>
                    {% else %}
                        {% if page_num == '...' %}
                            <li><span>{{ page_num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    {% else %}
                        <span>下一页</span>
                    {% endif %}
                </li>
            </ul>
            <p>
                (共有{{ page_obj.paginator.count }}篇文章) 当前第{{ page_obj.number }}页 共{{paginator.num_pages }}页
            </p>
        </div>

    {% endif %}
{% endblock %}
{% block toc %}

{% endblock %}